<script>
    function closeWarning() {
        $('#warning').remove();
    }
</script>
<nav class="navbar navbar-default navbar-fixed-top">
    <div class="row container-fluid">
        <div class="col-xs-12">
            <div class="navbar-text pull-right hidden-xs hidden-sm">
                <a href="#/chat"
                   class="navbar-link">
                    <span class="glyphicon glyphicon-plus"></span>
                </a>
            </div>
            <div class="navbar-text pull-left">
                <a href="#/chat/{{model.chatId}}" class="navbar-link">
                    <span class="glyphicon glyphicon-chevron-left"></span>
                </a>
            </div>
            <div class="navbar-header">
                <a class="navbar-brand">
                    Back to Chat
                </a>
            </div>
        </div>
    </div>
</nav>

<div ng-if="model.chats.length == 0">
    <h3 class="text-center">You have no chats available</h3>
</div>
<div class="container-fluid as-bottom-pad">
    <div class="col-xs-2">
        <div id="wrapper" data-spy="scroll" data-target="#spy" class="">
            <div class="row">
                <div class="col-md-2">
                    <!-- Sidebar -->
                    <div id="sidebar-wrapper" style="background:rgba(0, 0, 0, 0.4)">
                        <nav id="spy">
                            <ul id="friend-list" class="sidebar-nav nav list-group" style="margin-top: 10px; width: 90%; margin-left: 5%">
                                <input ng-model="searchFriend" type="text" class="form-control as-search" placeholder="Search Participants">
                                <li ng-repeat="friend in model.friends | filter:searchFriend:strict" class="list-group-item">
                                    <div class="row">
                                        <div class="col-xs-12">
                                            <p style="color: wheat; padding-left: 0">{{friend.firstName}} {{friend.lastName}}</p>
                                        </div>
                                    </div>
                                </li>
                            </ul>
                        </nav>
                    </div>
                </div>
            </div>
        </div>
    </div>



    <div class="col-xs-8 text-center" style="margin-top:10px">
        <div class="container-fluid as-bottom-pad">
            <div class="col-xs-2"></div>
            <div class="col-xs-8 text-center" style="margin-top:10px">
                <input id="friend-search-bar" ng-change="model.searchUsers(searchText)" ng-model="searchText" ng-change="change()" type="text" class="form-control as-search" placeholder="Search Users">
                <div style="margin-top:50px;">
                    <div ng-repeat="u in model.users" style="float:left; padding-right:10px">
                        <div class="friend-container">
                            <div class="dashboard-edit">
                                <a ng-click="model.addParticipant(u)" class="infograph-text">Add</a>
                            </div>
                        </div>
                        <br/>
                        <div class="info-title">{{u.username}}</div>
                        <div class="info-subtitle">{{u.firstName}} {{u.lastName}}</div>
                    </div>
                </div>
            </div>
            <div class="col-xs-2"></div>
        </div>
    </div>
    <div class="col-xs-2"></div>
</div>

<div ng-show="model.error" class="alert alert-warning alert-dismissible">
    <a class="close" data-dismiss="alert" aria-label="close">&times;</a>
</div>
<div ng-show="model.success" class="alert alert-success alert-dismissible">

</div>

<nav class="navbar navbar-default navbar-fixed-bottom">
    <div class="row container-fluid">
        <div class="col-xs-12">
            <div class="navbar-text pull-right">
                <a href="#/profile" class="navbar-link">
                      <span class="glyphicon glyphicon-user">
                      </span>
                </a>
            </div>
        </div>
    </div>
</nav>
