<nav class="navbar navbar-default navbar-fixed-top">
    <div class="row container-fluid">
        <div class="col-xs-12">
            <div class="navbar-text pull-right hidden-xs hidden-sm">
                <a href="#/creator"
                   class="navbar-link">
                    <span class="glyphicon glyphicon-plus"></span>
                </a>
            </div>
            <div class="navbar-text pull-left">
                <a href="#/dashboard" class="navbar-link">
                    <span class="glyphicon glyphicon-chevron-left"></span>
                </a>
            </div>
            <div class="navbar-header">
                <a class="navbar-brand">
                    Dashboard
                </a>
            </div>
        </div>
    </div>
</nav>

<div class="container-fluid" style="margin-top: 15%">
    <div class="row">
        <div class="col-xs-4"></div>
        <div class="col-xs-4">
            <a class="btn btn-success btn-block" href="#/chat/new"><span class="fa fa-user"></span> Start a private chat</a>
            <a class="btn btn-warning btn-block"><span class="fa fa-users"></span> Start a private group chat</a>
            <a class="btn btn-success btn-block"><span class="fa fa-user"></span> Start a public chat</a>
            <a class="btn btn-warning btn-block"><span class="fa fa-users"></span> Start a public group chat</a>
        </div>
        <div class="col-xs-4"></div>

    </div>
</div>

<nav class="navbar navbar-default navbar-fixed-bottom">
    <div class="row container-fluid">
        <div class="col-xs-12">
            <div class="navbar-text pull-right">
                <a href="#/profile" class="navbar-link">
                      <span class="glyphicon glyphicon-user">
                      </span>
                </a>
            </div>
        </div>
    </div>
</nav>
