<script>
    $(document).ready(function(){
        $('[data-toggle="tooltip"]').tooltip();
    });

    $('#message-constructor').on('keydown', function(e) {
        //Send msg
        if (e.which === 13 && e.shiftKey === true) {
            $('#send-msg').click();
            return false;
        }
    });

</script>
<nav class="navbar navbar-default navbar-fixed-top">
    <div class="row container-fluid">
        <div class="col-xs-12">
            <div class="navbar-text pull-right hidden-xs hidden-sm">
                <a ng-if="model.chat._user === model.user._id" ng-click="model.deleteChat()"
                   class="navbar-link">
                    <span class="glyphicon glyphicon-remove"></span>
                </a>
            </div>
            <div class="navbar-text pull-left">
                <a href="#/dashboard" class="navbar-link">
                    <span class="glyphicon glyphicon-chevron-left"></span>
                </a>
            </div>
            <div class="navbar-header">
                <a class="navbar-brand">
                    Dashboard
                </a>
            </div>
        </div>
    </div>
</nav>

<div class="container-fluid">
    <div id="wrapper" data-spy="scroll" data-target="#spy">
        <div class="row">
            <div class="col-md-2 hidden-md">
                <!-- Sidebar -->
                <div id="sidebar-wrapper" class="">
                    <nav id="spy">
                        <ul class="sidebar-nav nav" style="width: 90%; margin-left: 5%">
                            <li>
                                <img class="logo" src="../../../assets/Logo.png" />
                            </li>
                            <li> <a href="#/chat/{{model.chatId}}/addFriend" data-target="#">
                                <span class="fa fa-user-plus solo">Add Participants</span></a>
                            </li>
                            <a>
                                <input ng-model="searchText" type="text" class="form-control as-search"  placeholder="Search Participants">
                            </a>
                            <li ng-repeat="friend in model.participants | filter:searchText:strict" class="list-group-item">
                                <div class="row">
                                    <div class="col-xs-10">
                                        <a style="color: wheat; padding-left: 0">{{friend.firstName}} {{friend.lastName}}</a>
                                    </div>
                                    <div class="col-xs-2">
                                        <span ng-if="model.chat._user === model.user._id && friend._id !== model.user._id" ng-click="model.removeParticipant(friend)" class="glyphicon glyphicon-remove pull-right"></span>
                                    </div>
                                </div>
                            </li>
                        </ul>
                    </nav>
                </div>
            </div>
            <div class="col-md-10">
                <h1 class="header">{{model.chat.name}}</h1>
                <h3 class="text-center">Created on: {{model.chatDate}}</h3>
                <div class="container-fluid" style="margin-top: 0">
                    <div class="row" style="height: 480px; overflow: auto">
                        <div class="col-xs-2"></div>
                        <div class="col-xs-8">
                            <div id="messages" ng-repeat="message in model.messages | orderBy: 'dateCreated'">

                                <div ng-if="message._user !== model.user._id" class="col-xs-12">
                                    <div class="chat-container">
                                        <div class="col-xs-2 right-bordered">
                                            <div class="row">
                                                <span class="glyphicon glyphicon-user user-avatar text-center"></span>
                                            </div>
                                            <div class="row" style="font-size: 12px">
                                                {{message.name}}
                                            </div>
                                        </div>
                                        <div class="col-xs-10">
                                            <div class="right" style="text-align: right">
                                                <p>{{message.msg}}</p>
                                                <span class="time-right">{{message.dateCreated | date:"MM/dd/yyyy 'at' h:mma"}}</span>
                                            </div>
                                        </div>
                                    </div>
                                </div>

                                <!------------------------------------------------------------->

                                <div ng-if="message._user === model.user._id" class="col-xs-12">
                                    <div class="chat-container darker right">
                                        <div class="col-xs-10">
                                            <div class="left">
                                                <p class="msg-left">{{message.msg}}</p>
                                                <span class="time-left">{{message.dateCreated | date:"MM/dd/yyyy 'at' h:mma"}}</span>
                                            </div>
                                        </div>
                                        <div class="col-xs-2 left-bordered">
                                            <div class="row">
                                                <span class="glyphicon glyphicon-user user-avatar text-center"></span>
                                            </div>
                                            <div class="row" style="font-size: 12px">
                                                You
                                            </div>
                                        </div>
                                    </div>
                                </div>

                                <!--<div class="col-xs-12">
                                    <div class="chat-container darker right">
                                        <div class="col-xs-10">
                                            <div class="left">
                                                <p class="msg-left">How are you? It has been long indeed.</p>
                                                <span class="time-left">11:01</span>
                                            </div>
                                        </div>
                                        <div class="col-xs-2 left-bordered">
                                            <div class="row">
                                                <span class="glyphicon glyphicon-user user-avatar text-center"></span>
                                            </div>
                                            <div class="row">
                                                You
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div id="messag2es" ng-repeat="message in model.messages">
                                    {{message.dateCreated}}
                                    {{message.msg}}
                                    {{message.name}}


                                </div>-->
                            </div>
                        </div>
                    </div>
                    <div class="col-xs-12">
                        <div class="col-xs-2"></div>
                        <div class="col-xs-7">
                            <textarea id="message-constructor" class="form-control" data-toggle="tooltip" data-placement="top" title="Press shift + enter to send!" rows="3" id="msg" ng-model="msg"></textarea>
                        </div>
                        <div class="col-xs-1">
                            <a class="btn btn-success btn-block" ng-click="model.createMessage(msg)" id="send-msg">Send</a>
                        </div>
                    </div>
                </div>

            </div>
        </div>
    </div>



    <nav class="navbar navbar-default navbar-fixed-bottom">
        <div class="row container-fluid">
            <div class="col-xs-12">
                <div class="navbar-text pull-right">
                    <a href="#/profile" class="navbar-link">
                      <span class="glyphicon glyphicon-user">
                      </span>
                    </a>
                </div>
            </div>
        </div>
    </nav>
