<nav class="navbar navbar-default navbar-fixed-top">
    <div class="row container-fluid">
        <div class="col-xs-12">
            <div class="navbar-text pull-left">
                <a href="#/profile" class="navbar-link">
                    <span class="glyphicon glyphicon-chevron-left"></span>
                </a>
            </div>
            <div class="navbar-header">
                <a class="navbar-brand">
                    Profile
                </a>
            </div>
        </div>
    </div>
</nav>

<div class="container-fluid" style="margin-top:30px">
    <div class="col-xs-2"></div>
    <div class="col-xs-8">
        <div class="col-xs-5">
            <div class="infograph-container">
                <img class="infograph-image" src="../../../assets/gear1.png" width="300px" height="300px"/>
                <div class="dashboard-view">
                    <a href="#/admin/users" class="infograph-text">View</a>
                </div>
                <br/>
            </div>
            <div class="info-title">USER MANAGEMENT</div>
        </div>
        <div class="col-xs-2"></div>
        <div class="col-xs-5">
            <div class="infograph-container">
                <img class="infograph-image" src="../../../assets/gear2.png" width="300px" height="300px"/>
                <div class="dashboard-view">
                    <a href="#/admin/chats" class="infograph-text">View</a>
                </div>
                <br/>
            </div>
            <div class="info-title">CHAT MANAGEMENT</div>
        </div>
    </div>
    <div class="col-xs-2"></div>
</div>