<style>
    .as-body-padding {
        padding-top: 0;
        padding-bottom: 0;
    }
</style>
<div class="container-fluid">
    <div>
        <div class="row">
            <!-- Page content -->
            <div class="col-xs-12">
                <div class="header" id="infoTitle">
                    <img class="logo" src="../../../assets/Logo.png"/>
                </div>
                <!--<div class="col-xs-12 text-center header unselectable">
                    Chat Beyond Boundaries
                </div>-->
                <div class="container-fluid as-languages infograph-image">
                    <img src="../../../assets/Word%20Art.png"/>
                    <!--/row-->
                    <div class="col-sm-12 text-center" style="margin-top:2%">
                        <a href="#/register" class="btn btn-lg btn-success">Get Started</a>
                    </div>
                </div>

            </div>
        </div>
    </div>
</div>