<script>
    function closeWarning() {
        $('#warning').remove();
    }
</script>
<nav class="navbar navbar-default navbar-fixed-top">
    <div class="row container-fluid">
        <div class="col-xs-12">
            <div class="navbar-text pull-right hidden-xs hidden-sm">
                <a ng-click="model.logout()"
                   class="navbar-link">
                    <span class="glyphicon glyphicon-log-out"></span>
                </a>
            </div>
            <div class="navbar-text pull-left">
                <a href="#/profile" class="navbar-link">
                    <span class="glyphicon glyphicon-chevron-left"></span>
                </a>
            </div>
            <div class="navbar-header">
                <a class="navbar-brand">
                    Profile
                </a>
            </div>
        </div>
    </div>
</nav>

<div ng-if="model.chats.length == 0">
    <h3 class="text-center">You have no chats available</h3>
</div>
<div class="container-fluid as-bottom-pad">
    <div class="col-xs-2">
        <div id="wrapper" data-spy="scroll" data-target="#spy" class="">
            <div class="row">
                <div class="col-md-2">
                    <!-- Sidebar -->
                    <div id="sidebar-wrapper" style="background:rgba(0, 0, 0, 0.4)">
                        <nav id="spy">
                            <ul id="friend-list" class="sidebar-nav nav list-group" style="margin-top: 10px; width: 90%; margin-left: 5%">
                                <a href="#/friends" class="btn btn-block btn-success" style="margin-bottom: 15px;">ADD FRIENDS</a>
                                <p ng-if="model.friends.length !== 0" style="color: #3bfffb">QUICK CHAT</p>
                                <br/>
                                <input ng-model="searchFriend" type="text" class="form-control as-search" placeholder="Search Friends">
                                <li ng-repeat="friend in model.friends | filter:searchFriend:strict" class="list-group-item">
                                    <div class="row">
                                        <div class="col-xs-10">
                                            <a style="color: wheat; padding-left: 0" href="#/chat/{{model.user._id}}/friend/{{friend._id}}/new">{{friend.firstName}} {{friend.lastName}}</a>
                                        </div>
                                        <div class="col-xs-2">
                                            <span ng-click="model.removeFriend(friend)" class="glyphicon glyphicon-remove pull-right"></span>
                                        </div>
                                    </div>
                                </li>
                            </ul>
                        </nav>
                    </div>
                </div>
            </div>
        </div>
    </div>


    <div class="col-xs-8 text-center" style="margin-top:10px">

        <input ng-model="searchText" type="text" class="form-control as-search" placeholder="Search chats">
        <div style="margin-top:50px;">
            <div ng-repeat="chat in model.chats | filter:searchText:strict" style="float:left; padding-right:10px">
                <div class="infograph-container">
                    <img class="infograph-image" src="../../../assets/chat1.png" width="200px" height="300px"/>
                    <div class="dashboard-view">
                        <a href="#/chat/{{chat._id}}" class="infograph-text">View</a>
                    </div>
                    <br/>
                </div>
                <div class="info-title">{{chat.name}}</div>
            </div>
        </div>
    </div>
    <div class="col-xs-2"></div>
</div>

<div class="alert alert-danger" ng-show="model.error">{{model.error}}</div>
<div class="alert alert-success" ng-show="model.message">{{model.message}}</div>

<nav class="navbar navbar-default navbar-fixed-bottom">
    <div class="row container-fluid">
        <div class="col-xs-12">
            <div class="navbar-text pull-right">
                <a href="#/profile" class="navbar-link">
                      <span class="glyphicon glyphicon-user">
                      </span>
                </a>
            </div>
        </div>
    </div>
</nav>
