<script>
    function closeWarning() {
        $('#warning').remove();
    }
</script>
<nav class="navbar navbar-default navbar-fixed-top">
    <div class="row container-fluid">
        <div class="col-xs-12">
            <div class="navbar-text pull-right hidden-xs hidden-sm">
                <a href="#/chat"
                   class="navbar-link">
                    <span class="glyphicon glyphicon-plus"></span>
                </a>
            </div>
            <div class="navbar-text pull-left">
                <a href="#/dashboard" class="navbar-link">
                    <span class="glyphicon glyphicon-chevron-left"></span>
                </a>
            </div>
            <div class="navbar-header">
                <a class="navbar-brand">
                    Dashboard
                </a>
            </div>
        </div>
    </div>
</nav>

<div class="container-fluid as-bottom-pad">
    <div class="col-xs-2"></div>
    <div class="col-xs-8 text-center" style="margin-top:10px">
        <input id="friend-search-bar" ng-change="model.searchUsers(searchText)" ng-model="searchText" ng-change="change()" type="text" class="form-control as-search" placeholder="Search Users">
        <div style="margin-top:50px;">
            <div ng-repeat="u in model.users" style="float:left; padding-right:10px">
                <div class="friend-container">
                    <div class="dashboard-edit">
                        <a ng-click="model.addFriend(u)" class="infograph-text">Add</a>
                    </div>
                </div>
                <br/>
                <div class="info-title">{{u.username}}</div>
                <div class="info-subtitle">{{u.firstName}} {{u.lastName}}</div>
            </div>
        </div>
        <!--<div class="alert alert-dismissable alert-danger" ng-show="model.error">{{model.error}}</div>
        <div class="alert alert-dismissable alert-success" ng-show="model.message">{{model.message}}</div>-->
    </div>
    <div class="col-xs-2"></div>
</div>

<div ng-show="model.error" class="alert alert-warning">

</div>
<div ng-show="model.success" class="alert alert-success">

</div>

<nav class="navbar navbar-default navbar-fixed-bottom">
    <div class="row container-fluid">
        <div class="col-xs-12">
            <div class="navbar-text pull-right">
                <a href="#/profile" class="navbar-link">
                      <span class="glyphicon glyphicon-user">
                      </span>
                </a>
            </div>
        </div>
    </div>
</nav>
